.navbar-link {
  color: crimson;
}

.navbar-logo {
  color: crimson !important;
}

/* Underline for nav items */
.navbarNav ul { 
    text-align: center;
  }
  .navbarNav li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  .navbarNav a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .navbarNav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f67e7d;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navbarNav a:hover:after { 
    width: 100%; 
    left: 0; 
  }